/* Global variables */

:root {
  /* Standard background, border, box colors */
  --main-bg-color: #efefef;
  --alt-bg-color: #356629;
  --alt2-bg-color: #63ad51;
  --light-bg-color: white;
  --dark-bg-color: #ccc;
  /* Standard font colors */
  --main-txt-color: #444;
  --alt-txt-color: #efefef;
  --light-txt-color: #777;
  /* Other colors */
  --link-hover-color: black;
}

html {
  background: var(--main-bg-color);
  color: var(--main-txt-color);
  font-family: 'Cutive Mono', sans-serif;
  line-height: 1.6;
  min-height: 100%;
  min-width: 320px;
  position: relative;
  /* Makes text more crisp, clear on all browsers: */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

* {
  /* Browser accounts for any border and padding in the values specified for
  an element's width and height. */
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  /* Override default styling for input elements. */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

body {
  /* Bottom margin >= footer height */
  margin: 0 0 200px;
  padding-top: 70px;
}

.normal-text {
  font-weight: normal;
}

.header-title-large {
  margin-left: 10px;
}

.header-title-large-bold {
  font-weight: bold;
}

.header-title-small {
  display: none;
}

header {
  position: fixed;
  top: 0;
  /* Controls the vertical stacking order of elements that overlap: */
  z-index: 1000;
  height: 70px;
  width: 100%;
  background: var(--alt-bg-color);
  color: var(--alt-txt-color);
  text-align: justify;
  box-shadow: 2px 6px 25px rgba(0, 0, 0, 0.1);
}

header::after {
  /* Pseudo element forces a line-break to justify content as desired. */
  content: '';
  display: inline-block;
  width: 100%;
}

header h1,
header nav {
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  margin: 0;
}

header nav ul {
  list-style: none;
  display: flex;
}

header h1 {
  height: 100%;
}

header h1::before {
  /* Pseudo element used to vertically align content. */
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.top-logo-name {
  display: inline-block;
}

.top-logo-name .fa-utensils {
  padding-left: 20px;
  vertical-align: middle;
}

.menu-item {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1.25rem;
  font-weight: bold;
  border-left: 0.5px solid var(--main-bg-color);
}

.hidden {
  display: none;
}

.content-header {
  text-align: center;
  margin-bottom: 50px;
  padding-bottom: 30px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid var(--main-bg-color);
  box-shadow: 2px 6px 25px rgba(0, 0, 0, 0.1);
}

#searchInput {
  background-color: var(--light-bg-color);
  background-image: url('../images/search-icon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  border: 2px solid var(--dark-bg-color);
  border-radius: 4px;
  padding: 12px 20px 12px 40px;
  transition: width 0.4s ease-in-out;
  -webkit-transition: width 0.4s ease-in-out;
  width: 90%;
  max-width: 400px;
}

.grid-container {
  display: grid;
  grid-gap: 25px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: center;
  margin: 0 auto;
  padding: 0 15px;
}

.card {
  border: 1px solid var(--main-bg-color);
  box-shadow: 2px 6px 25px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: all 0.3s ease;
}

.card:hover {
  box-shadow: 2px 6px 30px rgba(0, 0, 0, 0.2);
}

.card-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  /* Following settings keep image width:height ratio fixed.
   16:9 ratio --> 9/16 = 0.5625 */
  height: 0;
  padding-bottom: 56.25%;
  width: 100%;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0;
  padding: 10px;
}

.recipe-content-grid {
  display: grid;
  grid-gap: 25px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 40px;
  padding: 0;
}

.recipe-content-image {
  position: relative;
}

#recipe-image {
  width: 100%;
}

.recipe-content-main {
  position: relative;
}

.plusminus {
  padding-bottom: 2px;
  padding-top: 2px;
}

.fa-minus,
.fa-plus {
  font-size: 80%;
}

.recipe-content-lists {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 20px;
}

.normal-margins {
  margin: 20px;
}

.center-align {
  text-align: center;
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

.flex-container-centered {
  display: flex;
  justify-content: center;
}

.add-recipe-container {
  margin: 20px 3% 0 3%;
  max-width: 600px;
}

.full-width {
  width: 100%;
}

.small-input {
  width: 110px;
}

.save-button-text {
  margin: 5px;
}

.tags {
  background-color: var(--light-bg-color);
  border: 1px solid var(--dark-bg-color);
  border-radius: 4px;
  display: block;
  line-height: 1.25;
  padding: .25em 0 0 .25em;
  cursor: text;
  overflow: hidden;
}

.tags span {
  display: block;
  float: left;
  position: relative;
}

.tags .tag,
.tags-input {
  background: var(--alt2-bg-color);
  margin: 0 .25em .25em 0;
  padding: .25em .5em;
  min-height: 1.5em;
  cursor: default;
}

.tag {
  color: var(--light-bg-color);
}

.tags .tag:before {
  content: attr(data-tag)
}

.tags:after,
.tags-view:after {
  content: "";
  display: table;
  clear: both;
}

.tags a {
  display: inline-block;
  margin: 0 0 0 .5em;
  color: var(--alt-txt-color);
  text-decoration: none;
  cursor: pointer;
}

.tags a:before {
  content: '\00D7'
}

.tags .tags-view {
  float: none
}

.tags .tags-input {
  float: none;
  background: none;
  cursor: inherit;
  min-width: 1em;
}

.tags-input span {
  float: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 4;
  padding: inherit;
}

.tags-input span+span {
  position: static;
  padding: 0;
  opacity: .5;
}

.tags .tag+.tags-input {
  float: left
}

.tags .tag+.tags-input span+span {
  display: none
}

.tags-input span:focus+span {
  opacity: .4
}

.tags-output {
  position: fixed;
  top: -9999px;
  left: -9999px;
}

.tag-display {
  display: inline-block;
  color: var(--light-bg-color);
  background: var(--alt2-bg-color);
  /*background: var(--light-bg-color);
  border: 1px solid var(--dark-bg-color);*/
  border-radius: 3px;
  margin: 3px;
  padding: 2px 5px;
}

.ingredient-input {
  border: 1px solid var(--dark-bg-color);
  border-radius: 5px;
  display: inline-block;
  padding: 3px;
  margin-bottom: 5px;
}

.ingredient-item-container {
  display: inline;
}

.img-preview-div {
  margin-top: 10px;
}

.img-preview {
  /* Center image horizontally */
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* Size image to fit screen, but limit max width */
  width: 90%;
  max-width: 400px;
}

input[type="text"],
input[type="number"] {
  border: 1px solid var(--dark-bg-color);
  border-radius: 4px;
  line-height: 1.25;
  padding: 0.3em;
  margin-bottom: 0.3em;
}

.ingredient-input input[id^="item"] {
  margin-bottom: 0em;
}

.submit-buttons-div {
  margin-top: 40px;
  text-align: right;
}

.no-shadow-no-border {
  border: 0;
  box-shadow: none;
}

blockquote {
  display: block;
  background: var(--main-bg-color);
  padding: 15px 20px 15px 30px;
  position: relative;
  color: var(--light-txt-color);
  text-align: justify;
  border-left: 15px solid var(--alt-bg-color);
  box-shadow: 2px 6px 25px rgba(0, 0, 0, 0.1);
}

blockquote a {
  font-weight: bold;
}

.bold-link {
  font-weight: bold;
}

.bold-link:hover {
  color: var(--link-hover-color);
}

footer {
  /* Footer stays at bottom of page. */
  bottom: 0;
  color: var(--light-txt-color);
  font-size: 75%;
  height: 90px;
  left: 0;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  text-align: center;
  width: 100%;
}

footer a {
  text-decoration: underline;
  text-decoration-style: dotted;
}

footer hr {
  color: var(--dark-bg-color);
}

blockquote a:hover {
  color: var(--link-hover-color);
}

.full-page-loading-canvas {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 9998;
}

.loading-circle {
  position: fixed;
  width: 100px;
  height: 100px;
  z-index: 9999;
  /* Position exactly in middle of screen */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading-circle .loading-circle-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.loading-circle .loading-circle-child::before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: var(--alt-txt-color);
  border-radius: 100%;
  -webkit-animation: loading-circleBounceDelay 1.2s infinite ease-in-out both;
  animation: loading-circleBounceDelay 1.2s infinite ease-in-out both;
}

.loading-circle .loading-circle2 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

.loading-circle .loading-circle3 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}

.loading-circle .loading-circle4 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.loading-circle .loading-circle5 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}

.loading-circle .loading-circle6 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}

.loading-circle .loading-circle7 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.loading-circle .loading-circle8 {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
}

.loading-circle .loading-circle9 {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
}

.loading-circle .loading-circle10 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.loading-circle .loading-circle11 {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
}

.loading-circle .loading-circle12 {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
}

.loading-circle .loading-circle2::before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.loading-circle .loading-circle3::before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.loading-circle .loading-circle4::before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.loading-circle .loading-circle5::before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.loading-circle .loading-circle6::before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.loading-circle .loading-circle7::before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.loading-circle .loading-circle8::before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.loading-circle .loading-circle9::before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.loading-circle .loading-circle10::before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.loading-circle .loading-circle11::before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

.loading-circle .loading-circle12::before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes loading-circleBounceDelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes loading-circleBounceDelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* For debugging only: */

/*
* {
  outline: 2px dotted red;
}

* * {
  outline: 2px dotted green;
}

* * * {
  outline: 2px dotted orange;
}

* * * * {
  outline: 2px dotted blue;
}

* * * * * {
  outline: 1px solid red;
}

* * * * * * {
  outline: 1px solid green;
}

* * * * * * * {
  outline: 1px solid orange;
}

* * * * * * * * {
  outline: 1px solid blue;
}
*/